@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller="BakeryController">
    <div ng-repeat="hej in pastry" ng-animate class="repeated-item">

        <cake ng-model="hej"></cake>

    </div>

</div>

