<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="App/services/bakeryService.js"></script>
    <script src="App/controllers/bakeryController.js"></script>
    <script src="app/directives/directives.js"></script>

    <link href="Content/Site.css" rel="stylesheet" />
    <title></title>
</head>
<body class="container">
    <div class="row" ng-controller="BakeryController">
        <div ng-repeat="item in pastry" ng-animate="" class="repeated-item">
            <cake ng-model="item"></cake>
        </div>
    </div>
</body>
</html>
